<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current domains for {{auth.currentUser.username}}</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Domain Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="pairs.length === 0">
        <tr>
          <td colspan="4">There are no domains in the DB. Add a new domain below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <ng-container *ngFor="let domain of domains">
          <tr *ngIf="pair.user===auth.currentUser.username">
            <td>{{pair.domainName}}</td>
            <!-- <td>{{domain.domainUsername}}</td>
            <td>{{domain.domainPassword}}</td> -->
            <td>
              <button class="btn btn-sm btn-primary" (click)="enableEditing(pair)"><i class="fa fa-pencil"></i> Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deletePair(pair)"><i class="fa fa-trash"></i> Delete</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editPair(domain)">
              <input class="form-control mr-2" type="text" name="domainName" [(ngModel)]="domain.domainName" placeholder="Domain Name" required>
              <!-- <input class="form-control mr-2" type="text" name="domainUsername" [(ngModel)]="domain.domainUsername" placeholder="Domain Username" required>
              <input class="form-control mr-2" type="text" name="domainPassword" [(ngModel)]="domain.domainPassword" placeholder="Domain Password" required> -->
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new domain</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addPairForm" (ngSubmit)="addPair()">
      <input class="form-control mr-2" type="text" name="domainName" formControlName="domainName" placeholder="Domain Name">
      <!-- <input class="form-control mr-2" type="text" name="domainUsername" formControlName="domainUsername" placeholder="Domain Username">
      <input class="form-control mr-2" type="text" name="domainPassword" formControlName="domainPassword" placeholder="Domain Password"> -->
      <button class="btn btn-primary" type="submit" [disabled]="!addPairForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
